.main {
  background-color: #ddd92a;
  height: 100%;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.copyright {
  color: #17161a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5vh;
}

.icons-footer {
  padding: 10px;
  font-size: 25px;
  
}
