.welcome {
  background-color: #2d2a32;
  /* background-image: url("../resources/👍.jpg"); */
  /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
  width: 100%;
  height: 100vh;
  color: #DDD92A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-wrapper {
  text-align: center;
}

.welcome-wrapper h3 {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-logo:nth-child(1) {
  animation: welcome-animation ease-in 0.5s;
}

.welcome-logo:nth-child(2) {
  animation: welcome-animation ease-in 1s;
}

@keyframes welcome-animation {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 1%;
  }
  100% {
    opacity: 100%;
  }
}

.welcome-wrapper h4 {
  font-size: 20px;
  animation: welcome-animation ease-in 1.5s;
  color: #DDD92A
}
.scroll-wrapper {
  position: absolute;

  top: 70%;
  animation: welcome-animation ease-in 2s;
}

.scroll {
  width: 50px;
  height: 90px;
  border: 3px solid white;
  border-radius: 60px;
  
}
.scroll::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #DDD92A;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
