@media (min-width: 800px) {
  .info {
    display: flex;
    /* align-items: center; */
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color: #17161a;
  }

  .first-sec {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: #17161a;
    /* background-image: url(../resources/👍.jpg); */
    border: 2px solid;
    margin: 5px;
    padding: 5px;
  }
}

@media (max-width: 799px) {
    .info {
      display: block;
      /* align-items: center; */
      /* justify-content: center; */
  
      width: 100%;
      /* height: 100vh; */
  
      background-color: #17161a;
    }
  
    .first-sec {
      display: flex;
      align-items: center;
      justify-content: center;
  
      background-color: #17161a;
      /* background-image: url(../resources/👍.jpg); */
      border: 2px solid;
      margin: 5px;
      padding: 5px;

    }
  }

/* .first-sec img{
    width: 50vh;
    height: 50vh;

    padding: 10px;
} */

.text {
  padding: 15px;
  color: white;

  /* height: 30vh; */


}
